<h1>Login#index</h1>

# TODO： UserContollerに向かおうとするので、それをLoginController#loginに向けるように画面を修正する必要がある
<%= form_with model: @user do | form | %>
  <%=form.text_field :user_id %>
<% end %>
<input type="password">
<button type="submit">ログイン</button>
